.Filter button {
    font-size: 19px;
    line-height: 35px;
    background-color: lightgreen;
    padding: auto 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    margin: 20px 10px;
}

.Filter button:nth-child(1) {
    margin-left: 0;
}
