.TodoItem {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-shadow: 3px 5px 5px purple;
  border: 1px solid black;
  border-radius: 5px;
}

.TodoItem:hover {
  background-color: orange;
  cursor: pointer;
}

.TodoItem div {
  display: inline-block;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  transition: font-size 0.3s linear;
}

.TodoItem div.Content {
  line-height: 40px;
  width: 80%;
  margin: 0;
  padding: 5px 20px;
  color: silver;
}

.TodoItem div.Content:hover {
  color: white;
  font-size: 22px;
}

.TodoItem div.Delete {
  float: right;
  width: 30px;
  text-align: center;
  margin-right: 20px;
  color: brown;
  /* background-color: aqua; */
}

.TodoItem div.Delete:hover {
  color: red;
  font-size: 25px;
}

.TodoItem button {
  font-size: 18px;
  background-color: skyblue;
  color: black;
  width: 15%;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  float: right;
  margin: 5px 20px;
}

.TodoItem button:hover {
  background-color: lightsalmon;
  cursor: pointer;
}
