.Filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
        font-size: 18px;
        line-height: 35px;
        background-color: lightgreen;
        width: 150px;
        border: 1px solid silver;
        border-radius: 0 0 5px silver;
        outline: none;
        border-radius: 3px;
        margin: 20px;
        cursor: pointer;

        &:nth-child(1) {
            margin-left: 0;
        }
    }
}