.TodoItem {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid silver;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: orange;
  }
  margin: 10px 0;
  box-shadow: 0 0 5px silver;

  .Content {
    width: 80%;
    line-height: 35px;
    padding-left: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Operation {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .Edit, .Delete {
      display: inline-block;
      width: 80px;
      border: 1px solid silver;
      border-radius: 3px;
      text-align: center;
      line-height: 27px;
      background-color: lightblue;
    }

    .Delete {
      margin-left: 20px;
    }
  }
}